:root {
    --header-background-color: rgb(167, 196, 194);
    --font-color: rgb(34, 33, 36);
    --subheading-background-color: rgb(34, 33, 36, 0.3);
    --open-sans: "Open Sans", sans-serif;
    --heading-font: "Poppins", sans-serif;
    --footer-background:  rgb(34, 33, 36);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header-background-color);
    padding: 20px;
    font-family: var(--heading-font);
    font-weight: bold;
}

#menu {
    display: none;
}

nav {
    display: flex;
    gap: 2rem;
    position: static;
}

nav a {  
    text-decoration: none;
    font-weight: lighter;
    color: black;
    transition: .3s;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
    color: var(--subheading-background-color);
}

main {
    max-width: 100%;
    margin: 0 auto;
}

main h2 {
    text-align: center;
    padding: 2rem;
    font-family: var(--heading-font);
}

#temple-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

img {
    width: 400px;
    height: 250px;
    margin-top: 1.5rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#temple-container h3{
    font-family: var(--heading-font);
}

p {
    font-family: var(--open-sans);
}

.temple {
    background-color: #f3f3f3;
    border: 1px solid #d9d9d9;
    padding: 1.5rem;
    text-align: center;
    max-width: 500px;
    margin: 1rem auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.temple h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.temple p {
    margin: 0.25rem 0;
    font-size: 1.1rem;
}

.temple p strong {
    color: #4a2d83;      
    text-transform: uppercase;
}

footer {
    margin: 0;
    background: var(--footer-background);
    color: #ccc;
    text-align: center;
    padding: 20px;
    margin-top: 1rem;
}

footer #lastModified {
    color: gold;
}