:root {
    --header-background-color: #ECDCC9;
    --font-color: rgb(34, 33, 36);
    --subheading-background-color: #CAC2B5;
    --open-sans: "Open Sans", sans-serif;
    --heading-font: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form > * {
    margin-bottom: 1rem;
}

header {
    display: block;
    justify-self: center;
    background: var(--header-background-color);
    padding: 20px;
    font-family: var(--heading-font);
    font-weight: bold;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

header h1 {
    justify-self: center;
}

main {
    max-width: 800px;
    margin: 1rem auto;
    font-family: var(--open-sans);
}

form {
    background: var(--subheading-background-color);
    padding: 20px;
    border-radius: 4px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 8px;
}

.rating legend {
    margin-bottom: 0.5rem;
}

.rating label {
    display: inline-flex;
    align-items: center;
    margin: 0;
    margin-right: 1rem;
    font-weight: normal;
}

input, select, textarea {
    width: 100%;
    padding: .7rem;
    font-size: 1rem;
    border: 1px solid #ccc;
}

.useful legend {
    font-weight: bold;
    margin-bottom: 1rem;
}

.useful legend span {
    display: block;
    font-weight: normal;
    color: black;
    font-size: 1rem;
    margin-top: .2rem;
}

.checkbox-item {
    display: flex;
    align-items: center;
    gap: .75rem;
    margin-bottom: 1rem;
}

.checkbox-item input[type="checkbox"] {
    width: auto;
    margin: 0;
}

.checkbox-item label {
    display: inline;
    margin: 0;
    font-weight: bold;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
    margin-right: .5rem;
}

textarea {
    min-height: 120px;
    resize: vertical;
}

fieldset {
    border: none;
    padding: 0;
    margin-top: 18px;
    display: block;
    text-align: left;
}

legend {
    font-weight: bold;
    margin-bottom: 12px;
}

fieldset input[type="radio"] {
    width: auto;
    margin-right: 8px;
}

span {
    color: blue;
    font-weight: normal;
    font-size: .9rem;
}

.required {
    color: red;
}

input[type="submit"] {
    width: 100%;
    margin-top: 25px;
    padding: 14px;
    font-size: 1.8rem;
    font-weight: bold;
    background: #ececec;
    border: 1px solid #999;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #ddd;
}

footer {
    margin: 1rem auto;
    background: var(--subheading-background-color);
    color: black;
    text-align: center;
    padding: 20px;
    margin-top: 1rem;
    max-width: 800px;
}

footer #lastModified {
    color: black;
}