@media screen and (max-width: 768px) {
    header, main, footer {
        margin: 1rem;
        max-width: 95%;
    }

    form {
        padding: 15px;
    }

    .rating label {
        display: block;
        margin-bottom: .5rem;
    }
}
